html, body{
    background-color: black;
    height: 100%;
    margin: 0;
}

.bigBox {
    color: white;
    display: flex;
    font-family: 'digital-clock-font';
    margin: 0;
    font-size: 25vw;
    flex-wrap: wrap;
}

.biggerBox{
    height: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

@font-face{ /*This is to add digital clock font*/
    font-family:'digital-clock-font';
    src: url('./digital-7.regular.ttf');
   }

*{
    text-align: right;
}
