html,
body {
  /*edge to edge boxes!!*/
  margin: 0;
  padding: 0;
  background-color: rgb(40, 40, 40);
}

.colContainer {
  display: flex;
  flex-grow: 1;
}

.col {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  justify-content: space-around;
  align-items: center;
  height: 750px;
  padding: 0px 50px 0px 50px;
}

.pfp {
  border-radius: 5px;
  background-color: black;
  height: min-content;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profilePic {
  height: 150px;
  border-radius: 50%;
  padding: 0px 0px 15px 0px;
}

.title {
  margin-top: 2px;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.linkedin {
  height: 30px;
  border-radius: 5px;
  border: solid 0.5px white;
  transition: all 0.1s ease;
}

.socials {
  height: 30px;
  border-radius: 100px;
  transition: all 0.1s ease;
}

.linkedin:hover,
.socials:hover {
  transform: scale(1.2);
}

.buttonExpanded {
  transform: scale(1.2);
}

.wholeTerm {
  position: relative;
  background-color: black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 310px;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 20px;
}

.menubar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  background-color: rgb(38, 38, 38);
  height: 30px;
  align-items: center;
}

.menuBarCenter {
  display: flex;
  padding-right: 68.4px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.headlights,
.devFolder {
  height: 15px;
}

.headlights {
  padding-left: 5px;
}

.devFolder {
  padding: 0px 5px 0px 5px;
}

.menuBarText {
  color: rgb(162, 162, 162);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.terminalWindow {
  display: flex;
  flex-direction: column;
}

#terminalTextArea {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.help {
  color: green;
}

.code {
  font-family: "Courier New", Courier, monospace;
  color: rgb(199, 199, 199);
}

.dummyKeyboard {
  opacity: 0;
  font-family: "Courier New", Courier, monospace;
  color: rgb(199, 199, 199);
}

* {
  padding: 0;
  margin: 0;
}

#link {
  color: aquamarine;
  text-decoration: none;
}
