html,
body {
  height: 100%;
  margin: 0;
}

.board {
  display: flex;
  width: min-content;
}

.boardBox {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col {
  font-size: 15vh;
  width: 120px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 0.5px black;
}

.XnO {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border: solid black 1px;
}

button {
  margin-top: 2vw;
  border: solid black 2px;
  width: 10vh;
  height: 5vh;
  border-radius: 25px;
  color: white;
  background-color: black;
}

button:hover {
  background-color: grey;
}
