.app-root {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.terminal-container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}
