.root{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: black;
    border-radius: 20px;
    min-width: 200px;
    width: 25vh;
}

.profile_image{
    max-height: 150px;
    border-radius: 100%;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}