/* rgy buttons */
#window-controls {
  display: flex;
  min-width: 80px;
  justify-content: space-around;
}

.circle {
  border-radius: 100%;
  width: min-content;
  height: 15px;
  width: 15px;
}

.red {
  background-color: #ff6155;
}

.yellow {
  background-color: #ffc62c;
}

.green {
  background-color: #23ce42;
}

/* center text  */
.center-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 80px;
  margin: 0;
  color: rgb(162, 162, 162);
}

.folder-img {
  height: 20px;
  padding: 0;
  margin: 0;
  padding-right: 5px;
}

/* for whole bar */
#terminal-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #262626;
  height: 30px;
}
